# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.dbmdl

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE files
.vscode/
.idea/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Local app data
appsettings.Development.json
appsettings.local.json
